<button (click)="this.change = !this.change;">cambio</button>
<section class="container">
  <div class="grafics">
    <app-line-chart *ngIf="change"></app-line-chart>
    <app-bar-chart *ngIf="!change"></app-bar-chart>
  </div>
  <div class="form">
    <form>
      <label for="options">Selecciona una opción:</label>
      <select id="options" [(ngModel)]="selectedOption" name="options">
        <option *ngFor="let i of products" [value]="i">{{i}}</option>
      </select>
    </form>
  </div>
</section>